body {
  font-family: "Segoe UI", sans-serif;
}
img[alt="Logo"] {
  float: right;
  margin-top: -20px;
}
iframe {
  border: 1px solid #ccc;
  margin-top: 1em;
}
.callout-note {
  background-color: #f5faff;
  border-left: 4px solid #3399cc;
}
.callout-tip {
  background-color: #f9fff5;
  border-left: 4px solid #99cc33;
}
